@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

:root{
    --font1 : 'Yomogi', cursive;
    --font2 : 'Source Code Pro', monospace;
}

body{
    background-image: url(https://www.wallpaperflare.com/static/650/301/77/sky-sunset-clouds-golden-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

body.love2{
    background-image: url(https://lh3.googleusercontent.com/proxy/rfR3u6-GlKYAdRFvfcQJMBu_C3pbL35x-Mrw4xV63NN7_lHvfsa-wBSeSECEOOqc06svD4i81rlVj1IsrWxyhZyOXMm9SxBNZFUc88ZNBQ4PFdO-QPtMqe7fseIbqgxl5z4w-sXSXWr58XbApFNo22XfmpP4OxE2kwrTQw);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

body.love3{
    background-image: url(https://wallpapercave.com/wp/ubiyMyZ.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

body.love4{
    background-image: url(https://lh3.googleusercontent.com/proxy/t1AzmHIu2tWR9jBLziVN1yGzSimO4O-kn_4CviriCRE39Td5DYliUS2Y_vxlaXFeFFUrkseyDnilc6qqNS6016oYASBRjY3MO6JDVtCS81iP20OQln1GSopTIgKO3eLrH0mH=w1200-h630-p-k-no-nu);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

body.love5{
    background-image: url(https://image.winudf.com/v2/image1/Y29tLkhlYXJ0c1dMUFBfc2NyZWVuXzhfMTU2NzI5NDYxNV8wNTM/screen-8.jpg?fakeurl=1&type=.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

body.love6{
    background-image: url(https://cutewallpaper.org/21/island-backgrounds-for-desktop/Free-download-high-res-wallpapers-island-desktop-wallpaper-.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#container{
    width: 350px;
    height: 500px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -250px;
    border-radius: 18px;
}
  
#container:before{
    width: 400px;
    height: 550px;
    content: "";
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur();
}
  
form img{
    width: 120px;
    height: 120px;
}
  
form{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
  
input{
    background: 0;
    width: 200px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255, 0.3);
    margin: 20px 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,255,255, 0.8);
    text-align: center;
}
  
input[type="submit"]{
    outline: none;
    border-radius: 12px;
    padding-bottom: 0;
    height: 60px;
    background: #df2359;
    color: white;
    cursor: pointer;
    transition: all 600ms ease-in-out;
    font-family: var(--font1);
    font-size: 18px;
}
  
input[type="submit"]:hover{
    background: pink;
}

.chulove2, .chulove3, .chulove4, .chulove5, .chulove6{
    font-family: var(--font2);
    font-weight: 600;
}

.chulove2{
    font-size: 20px;
    background: -webkit-linear-gradient(top left , #06659b, #02de97);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button{
      background-color: tomato;
      outline: none;
      border:none;
      height: 25px;
      width: 80px;
      border-radius: 12px;
}

@media only screen and (max-width: 1100px) {
    #container{
        width: 350px;
        height: 500px;
        background: inherit;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        margin-left: -175px;
        margin-top: -250px;
        border-radius: 18px;
    }
      
    #container:before{
        width: 400px;
        height: 550px;
        content: "";
        position: absolute;
        top: -25px;
        left: -25px;
        bottom: 0;
        right: 0;
        background: inherit;
        box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
        filter: blur();
    }
      
    form img{
        width: 120px;
        height: 120px;
    }
      
    form{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
      
    input{
        background: 0;
        width: 200px;
        outline: 0;
        border: 0;
        border-bottom: 2px solid rgba(255,255,255, 0.3);
        margin: 20px 0;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        color: rgba(255,255,255, 0.8);
        text-align: center;
    }
      
    input[type="submit"]{
        outline: none;
        border-radius: 12px;
        padding-bottom: 0;
        height: 60px;
        background: #df2359;
        color: white;
        cursor: pointer;
        transition: all 600ms ease-in-out;
        font-family: var(--font1);
        font-size: 18px;
    }
      
    input[type="submit"]:hover{
        background: pink;
    }
}